#features{
    background: red;
}

.review {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.review-img {
    border-radius: 50%;
    margin-right: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.logo img {
    margin-right: 10px;
}